.card {
	background-color: white;

	.card__body {
		h3 {
			color: #333333;
			font-weight: normal;
		}

		p {
			color: #CDCDCD;
		}
	}

	.card__footer {
		border-top: 1px solid #DDDDDD;
		
		span {
			border-right: 1px solid #DDDDDD;
			border-left: 1px solid #DDDDDD;
			cursor: pointer;
			transition: .3s color ease-in;

			&:hover {
				color: $color-primary;
			}
		}

		.card__footer--icon {
			border-right: none;
			border-left: none;
		}
	}
}