@media (min-width: 342px) {
	.abot-section_who-we-are--card-container {
		margin: 0 1rem;
	}
}

@media (min-width: 375px) {
	.abot-section_who-we-are--card-container {
		margin: 0 3rem;
	}
}

@media (min-width: 425px) {
	.abot-section_who-we-are--card-container {
		margin: 0 5rem;
	}
}

@media (min-width: 500px) {
	.abot-section_who-we-are--card-container {
		margin: 0 7rem;
	}
}

@media (min-width: 560px) {
	.abot-section_who-we-are--card-container {
		margin: 0 8rem;
	}
}

@media (min-width: 610px) {
	.abot-section_who-we-are--card-container {
		margin: 0 10rem;
	}
}

@media (min-width: 633px) {
	.abot-section_who-we-are--card-container {
		margin: 0 2rem;
		grid-gap: 2rem;
	}

	.abot-section_who-we-are__card {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.abot-section_who-we-are--card-container {
		margin: 0 5rem;
	}
}

@media (min-width: 830px) {
	.abot-section_who-we-are--card-container {
		margin: 0 8rem;
	}
}

@media (min-width: 930px) {
	.abot-section_who-we-are--card-container {
		margin: 0 11rem;
	}
}

@media (min-width: 992px) {
	.abot-section_who-we-are--card-container {
		margin: 0 1rem;
	}
}

@media (min-width: 1200px) {
	.abot-section_who-we-are--card-container {
		margin: 0 3rem;
	}
}

@media (min-width: 1300px) {
	.abot-section_who-we-are--card-container {
		margin: 0 8rem;
	}
}

@media (min-width: 1500px) {
	.abot-section_who-we-are--card-container {
		margin: 0 12rem;
	}
}

@media (min-width: 1700px) {
	.abot-section_who-we-are--card-container {
		margin: 0 18rem;
	}
}

@media (min-width: 1900px) {
	.abot-section_who-we-are--card-container {
		margin: 0 24rem;
	}
}

@media (min-width: 2100px) {
	.abot-section_who-we-are--card-container {
		margin: 0 30rem;
	}
}

@media (min-width: 2300px) {
	.abot-section_who-we-are--card-container {
		margin: 0 36rem;
	}
}

@media (min-width: 2500px) {
	.abot-section_who-we-are--card-container {
		margin: 0 40rem;
	}
}